Repository Azure/osm-azure: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/aks-addon-nightly/e2e-aks-addon.yaml, .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml

.pipelines/aks-addon-nightly/e2e-aks-addon.yaml:
  schedules:
  - cron: 0 0 * * *
    always: true
    displayName: OSM AKS Addon Nightly Test
    branches:
      include:
      - main
  pool: staging-pool
  stages:
  - stage: run_e2e
    jobs:
    - template: e2e-aks-addon-jobs.yaml

.pipelines/e2e-job.yaml:
  stages:
  - stage: run_e2e
    jobs:
    - template: e2e-aks-arc.yaml

.pipelines/nightly-image-scan/image-scan.yaml:
  schedules:
  - cron: 0 0 * * *
    always: true
    displayName: Nightly Image Vulnerability Scan
    branches:
      include:
      - main
  stages:
  - stage: scan_images
    jobs:
    - template: image-scan-job.yaml

.pipelines/pr-job/e2e-job.yaml:
  stages:
  - stage: run_e2e
    jobs:
    - template: e2e-aks-arc.yaml

.pipelines/release-e2e-job.yaml:
  stages:
  - stage: run_e2e
    jobs:
    - template: e2e-aks-arc.yaml
      parameters:
        releaseE2E: true

.pipelines/upgrade-e2e-job.yaml:
  stages:
  - stage: run_e2e
    jobs:
    - template: e2e-aks-arc.yaml
      parameters:
        releaseE2E: true

Remove helm-cli-image
  .pipelines/nightly-image-scan/image-scan-job.yaml
  .pipelines/templates/build-helm-cli-image.yaml
  tools/helm/Dockerfile
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml, .pipelines/pr-job/e2e-job.yaml

Fix aks addon debug steps (#161)
  .pipelines/aks-addon-nightly/e2e-aks-addon-jobs.yaml
  .pipelines/templates/debug-resources.yaml
Due: .pipelines/aks-addon-nightly/e2e-aks-addon.yaml, .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Remove helm-cli-image (#162)
  .pipelines/nightly-image-scan/image-scan-job.yaml
  .pipelines/templates/build-helm-cli-image.yaml
  tools/helm/Dockerfile
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml, .pipelines/pr-job/e2e-job.yaml

Fix conf plugin xml parsing error
  conformance/plugins/osm-arc/Dockerfile
  conformance/plugins/osm-arc/conformance.yaml
  conformance/plugins/osm-arc/osm_arc_conformance.sh
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Fix conformance plugin xml error (#163)
  conformance/plugins/osm-arc/Dockerfile
  conformance/plugins/osm-arc/conformance.yaml
  conformance/plugins/osm-arc/osm_arc_conformance.sh
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

pin aks-preview version 0.5.87
  .pipelines/templates/aks-addon-templates/enable-osm-aks-addon.yaml
Due: .pipelines/aks-addon-nightly/e2e-aks-addon.yaml, .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

pin aks-preview version 0.5.87 (#165)
  .pipelines/templates/aks-addon-templates/enable-osm-aks-addon.yaml
Due: .pipelines/aks-addon-nightly/e2e-aks-addon.yaml, .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Add root user for MDM security context
  charts/osm-arc/templates/metrics-agent-deployment.yaml
  charts/osm-arc/templates/metrics-rbac.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Add root user for MDM security context (#164)
  charts/osm-arc/templates/metrics-agent-deployment.yaml
  charts/osm-arc/templates/metrics-rbac.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

update version to v1.1.1-1
  charts/osm-arc/Chart.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml

update version to v1.1.1-1 (#166)
  charts/osm-arc/Chart.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml

Publish osm-arc-1.1.1-1.tgz
  index.yaml
  osm-arc-1.1.1-1.tgz
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Make k8s-version configurable for add-on
  .pipelines/aks-addon-nightly/e2e-aks-addon-jobs.yaml
  .pipelines/templates/aks-setup.yaml
Due: .pipelines/aks-addon-nightly/e2e-aks-addon.yaml, .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Make k8s-version configurable for add-on (#72)
  .pipelines/aks-addon-nightly/e2e-aks-addon-jobs.yaml
  .pipelines/templates/aks-setup.yaml
Due: .pipelines/aks-addon-nightly/e2e-aks-addon.yaml, .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Fix conf plugin v1.1.1-1
  conformance/plugins/osm-arc/conformance.yaml
  conformance/plugins/osm-arc/osm_arc_conformance.sh
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Fix conf plugin v1.1.1-1 (#167)
  conformance/plugins/osm-arc/conformance.yaml
  conformance/plugins/osm-arc/osm_arc_conformance.sh
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Add retry logic conf tests
  conformance/plugins/osm-arc/conformance.yaml
  conformance/plugins/osm-arc/osm_arc_conformance.sh
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Add retry logic conf tests (#168)
  conformance/plugins/osm-arc/conformance.yaml
  conformance/plugins/osm-arc/osm_arc_conformance.sh
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Conf test plugin single failure
  conformance/plugins/osm-arc/conformance.yaml
  conformance/plugins/osm-arc/osm_arc_conformance.sh
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Fix latest tag logic
  .pipelines/templates/get-latest-tag.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Fix aks addon nightly
  .pipelines/templates/aks-setup.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Fix ci triggers for release branches
  .pipelines/pr-job/e2e-job.yaml
  .pipelines/upgrade-job/upgrade-e2e-job.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Conf test plugin single failure (#169)
  conformance/plugins/osm-arc/conformance.yaml
  conformance/plugins/osm-arc/osm_arc_conformance.sh
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Fix latest tag logic (#170)
  .pipelines/templates/get-latest-tag.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Fix ci triggers for release branches (#173)
  .pipelines/pr-job/e2e-job.yaml
  .pipelines/upgrade-job/upgrade-e2e-job.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Unblock connectedk8s - install python Crypto
  scripts/connect-to-arc.sh
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Unblock connectedk8s - install python Crypto (#174)
  scripts/connect-to-arc.sh
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

release(v1.2.2): updating version to v1.2.2-beta-1
  charts/osm-arc/Chart.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml

Publish osm-arc-1.2.2-beta-1.tgz
  index.yaml
  osm-arc-1.2.2-beta-1.tgz
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

release(v1.2.3): updating version to v1.2.3-beta-1
  charts/osm-arc/Chart.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml

Publish osm-arc-1.2.3-beta-1.tgz
  index.yaml
  osm-arc-1.2.3-beta-1.tgz
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Update v1.2.3-beta-1 to v1.2.3
  charts/osm-arc/Chart.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml

pin k8s-extension version to 1.3.5
  conformance/plugins/osm-arc/osm_arc_conformance.sh
  scripts/install-k8s-extension.sh
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml, .pipelines/pr-job/e2e-job.yaml

Path conditions:
  .pipelines/aks-addon-nightly/e2e-aks-addon.yaml: any of: .pipelines/aks-addon-nightly, .pipelines/templates/aks-addon-templates
  .pipelines/e2e-job.yaml: any file but: docs
  .pipelines/nightly-image-scan/image-scan.yaml: any of: tools/helm, conformance/plugins/osm-arc
  .pipelines/pr-job/e2e-job.yaml: any file but: docs, conformance, tools, .github, scripts/register-extension-prod.sh
  .pipelines/release-e2e-job.yaml: any of: charts/osm-arc/Chart.yaml
  .pipelines/upgrade-e2e-job.yaml: any of: charts/osm-arc/Chart.yaml
