Repository Azure/osm-azure: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/aks-addon-nightly/e2e-aks-addon.yaml, .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Path conditions:
  .pipelines/aks-addon-nightly/e2e-aks-addon.yaml: any of: .pipelines/aks-addon-nightly, .pipelines/templates/aks-addon-templates
  .pipelines/e2e-job.yaml: any file but: docs
  .pipelines/nightly-image-scan/image-scan.yaml: any of: tools/helm, conformance/plugins/osm-arc
  .pipelines/pr-job/e2e-job.yaml: any file but: docs, conformance, tools, .github, scripts/register-extension-prod.sh
  .pipelines/release-e2e-job.yaml: any of: charts/osm-arc/Chart.yaml
  .pipelines/upgrade-e2e-job.yaml: any of: charts/osm-arc/Chart.yaml
  .pipelines/upgrade-job/upgrade-e2e-job.yaml: any of: charts/osm-arc/Chart.yaml, scripts/add-extension.sh, scripts/update-extension.sh

Publish osm-arc-1.2.3.tgz
  index.yaml
  osm-arc-1.2.3.tgz
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Update OSM-Arc version to v1.2.5-beta-1
  charts/osm-arc/Chart.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Update chart
  charts/osm-arc/Chart.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

update upstream repo
  .pipelines/pr-job/e2e-job.yaml
  .pipelines/upgrade-job/upgrade-e2e-job.yaml
  charts/osm-arc/Chart.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Update pool
  .pipelines/aks-addon-nightly/e2e-aks-addon-jobs.yaml
  .pipelines/aks-addon-nightly/e2e-aks-addon.yaml
  .pipelines/conformance-test-job/push-osm-arc-conf-plugin.yaml
  .pipelines/nightly-image-scan/image-scan-job.yaml
  .pipelines/pr-job/e2e-aks-arc.yaml
  .pipelines/test-prod-job/osm-arc-prod.yaml
Due: .pipelines/aks-addon-nightly/e2e-aks-addon.yaml, .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Update checkout and agent pools
  .pipelines/aks-addon-nightly/e2e-aks-addon-jobs.yaml
  .pipelines/aks-addon-nightly/e2e-aks-addon.yaml
  .pipelines/conformance-test-job/push-osm-arc-conf-plugin.yaml
  .pipelines/nightly-image-scan/image-scan-job.yaml
  .pipelines/pr-job/e2e-aks-arc.yaml
  .pipelines/templates/checkout-upstream-repo.yaml
  .pipelines/test-prod-job/osm-arc-prod.yaml
Due: .pipelines/aks-addon-nightly/e2e-aks-addon.yaml, .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Update version and fix checkout
  .pipelines/templates/checkout-upstream-repo.yaml
  charts/osm-arc/Chart.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Rm unique tag
  .pipelines/templates/publish-helm-chart.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

unpin k8s-extension
  scripts/install-k8s-extension.sh
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Publish osm-arc-1.2.6-beta-1.tgz
  index.yaml
  osm-arc-1.2.6-beta-1.tgz
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Update timeout
  .pipelines/pr-job/e2e-aks-arc.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Increase timeout
  .pipelines/templates/run-upstream-e2e.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Update osm-arc version to 1.2.6-beta-1. (#178)
  .pipelines/aks-addon-nightly/e2e-aks-addon-jobs.yaml
  .pipelines/aks-addon-nightly/e2e-aks-addon.yaml
  .pipelines/conformance-test-job/push-osm-arc-conf-plugin.yaml
  .pipelines/nightly-image-scan/image-scan-job.yaml
  .pipelines/pr-job/e2e-aks-arc.yaml
  .pipelines/pr-job/e2e-job.yaml
  .pipelines/templates/checkout-upstream-repo.yaml
  .pipelines/templates/publish-helm-chart.yaml
  .pipelines/templates/run-upstream-e2e.yaml
  .pipelines/test-prod-job/osm-arc-prod.yaml
  .pipelines/upgrade-job/upgrade-e2e-job.yaml
  charts/osm-arc/Chart.yaml
  charts/osm-arc/values.yaml
  scripts/install-k8s-extension.sh
Due: .pipelines/aks-addon-nightly/e2e-aks-addon.yaml, .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Update conf test and staging pools
  .pipelines/aks-addon-nightly/e2e-aks-addon-jobs.yaml
  .pipelines/aks-addon-nightly/e2e-aks-addon.yaml
  .pipelines/conformance-test-job/push-osm-arc-conf-plugin.yaml
  .pipelines/nightly-image-scan/image-scan-job.yaml
  .pipelines/pr-job/e2e-aks-arc.yaml
  .pipelines/test-prod-job/osm-arc-prod.yaml
  conformance/plugins/osm-arc/osm_arc_conformance.sh
Due: .pipelines/aks-addon-nightly/e2e-aks-addon.yaml, .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml, .pipelines/pr-job/e2e-job.yaml

Unpin version
  scripts/install-k8s-extension.sh
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Change tag format
  .pipelines/templates/publish-helm-chart.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Update tag
  .pipelines/templates/publish-helm-chart.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Publish osm-arc-1.1.1-1.tgz
  index.yaml
  osm-arc-1.1.1-1.tgz
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

update test timeout
  .pipelines/templates/run-upstream-e2e.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Update conf test and staging pools (#181)
  .pipelines/aks-addon-nightly/e2e-aks-addon-jobs.yaml
  .pipelines/aks-addon-nightly/e2e-aks-addon.yaml
  .pipelines/conformance-test-job/push-osm-arc-conf-plugin.yaml
  .pipelines/nightly-image-scan/image-scan-job.yaml
  .pipelines/pr-job/e2e-aks-arc.yaml
  .pipelines/templates/publish-helm-chart.yaml
  .pipelines/templates/run-upstream-e2e.yaml
  .pipelines/test-prod-job/osm-arc-prod.yaml
  conformance/plugins/osm-arc/osm_arc_conformance.sh
  scripts/install-k8s-extension.sh
Due: .pipelines/aks-addon-nightly/e2e-aks-addon.yaml, .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml, .pipelines/pr-job/e2e-job.yaml

Update conformance image
  conformance/plugins/osm-arc/conformance.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Update conformance image (#182)
  conformance/plugins/osm-arc/conformance.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

update conf test image
  conformance/plugins/osm-arc/conformance.yaml
  conformance/plugins/osm-arc/osm_arc_conformance.sh
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Add update to conf image
  conformance/plugins/osm-arc/osm_arc_conformance.sh
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Update conf test image for k8s-extension version. (#183)
  conformance/plugins/osm-arc/conformance.yaml
  conformance/plugins/osm-arc/osm_arc_conformance.sh
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Add token
  conformance/plugins/osm-arc/conformance.yaml
  conformance/plugins/osm-arc/osm_arc_conformance.sh
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Update tests run
  conformance/plugins/osm-arc/osm_arc_conformance.sh
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Add new variable for conf test plugin token (#184)
  conformance/plugins/osm-arc/conformance.yaml
  conformance/plugins/osm-arc/osm_arc_conformance.sh
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Arc release v1.2.6 stable
  charts/osm-arc/Chart.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Publish osm-arc-1.2.6.tgz
  index.yaml
  osm-arc-1.2.6.tgz
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Hardcode previous tag temporarily
  .pipelines/upgrade-job/upgrade-templates.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Edit tag
  .pipelines/upgrade-job/upgrade-templates.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Arc release v1.2.6 stable (#185)
  .pipelines/upgrade-job/upgrade-templates.yaml
  charts/osm-arc/Chart.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Updates MSI-Adapter version to v1.0.6
  charts/osm-arc/templates/metrics-agent-deployment.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Set auto upgrade to false on minor version
  scripts/add-extension.sh
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Update envoy image to v1.26.7 and ignore osm-controller restart test
  .pipelines/templates/run-upstream-e2e.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml
