Repository Azure/osm-azure: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/aks-addon-nightly/e2e-aks-addon.yaml, .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

.pipelines/aks-addon-nightly/e2e-aks-addon.yaml:
  schedules:
  - cron: 0 0 * * *
    always: true
    displayName: OSM AKS Addon Nightly Test
    branches:
      include:
      - main
  pool: staging-pool
  stages:
  - stage: run_e2e
    jobs:
    - template: e2e-aks-addon-jobs.yaml

.pipelines/e2e-job.yaml:
  stages:
  - stage: run_e2e
    jobs:
    - template: e2e-aks-arc.yaml

.pipelines/nightly-image-scan/image-scan.yaml:
  schedules:
  - cron: 0 0 * * *
    always: true
    displayName: Nightly Image Vulnerability Scan
    branches:
      include:
      - main
  stages:
  - stage: scan_images
    jobs:
    - template: image-scan-job.yaml

.pipelines/pr-job/e2e-job.yaml:
  stages:
  - stage: run_e2e
    jobs:
    - template: e2e-aks-arc.yaml

.pipelines/release-e2e-job.yaml:
  stages:
  - stage: run_e2e
    jobs:
    - template: e2e-aks-arc.yaml
      parameters:
        releaseE2E: true

.pipelines/upgrade-e2e-job.yaml:
  stages:
  - stage: run_e2e
    jobs:
    - template: e2e-aks-arc.yaml
      parameters:
        releaseE2E: true

.pipelines/upgrade-job/upgrade-e2e-job.yaml:
  stages:
  - stage: run_e2e
    jobs:
    - template: ../pr-job/e2e-aks-arc.yaml
      parameters:
        releaseE2E: true

Update MSI-Adapter and Envoy version (#186)
  .pipelines/templates/run-upstream-e2e.yaml
  charts/osm-arc/templates/metrics-agent-deployment.yaml
  charts/osm-arc/values.yaml
  scripts/add-extension.sh
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Publish osm-arc-1.2.9.tgz
  index.yaml
  osm-arc-1.2.9.tgz
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Update release template
  .github/PULL_REQUEST_TEMPLATE/release_pull_request_template.md
Due: .pipelines/e2e-job.yaml

Publish osm-arc-1.2.10.tgz
  index.yaml
  osm-arc-1.2.10.tgz
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Bump osm tag
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

update envoy version, keep others the same
  charts/osm-arc/Chart.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Update charts/osm-arc/values.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Update/envoy1.32 (#197)
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

update to envoy 1.34.1
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

dummy commit
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Test
  README.md
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Brute force
  .pipelines/pr-job/e2e-job.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Revert changes
  .pipelines/pr-job/e2e-job.yaml
  README.md
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

update to envoy 1.34.1
  .pipelines/pr-job/e2e-job.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Use correct proxy image
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Update/envoy1.34 (#205)
  .pipelines/pr-job/e2e-job.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Bump to OSM 1.2.11
  charts/osm-arc/Chart.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Manually install certain tools
  .pipelines/AGENTS.md
  .pipelines/templates/README.md
  .pipelines/templates/install-bats.yaml
  .pipelines/templates/install-helm3.yaml
  .pipelines/templates/install-oras.yaml
  Makefile
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Add logging
  .pipelines/templates/acr-cleanup.yaml
  .pipelines/templates/aks-cleanup.yaml
  .pipelines/templates/aks-setup.yaml
  .pipelines/templates/publish-helm-chart.yaml
  .pipelines/templates/push-conf-image-acr.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Install azure cli
  .pipelines/AGENTS.md
  .pipelines/templates/acr-cleanup.yaml
  .pipelines/templates/aks-addon-templates/enable-osm-aks-addon.yaml
  .pipelines/templates/aks-cleanup.yaml
  .pipelines/templates/aks-setup.yaml
  .pipelines/templates/debug-resources.yaml
  .pipelines/templates/publish-helm-chart.yaml
  .pipelines/templates/push-conf-image-acr.yaml
  .pipelines/templates/register-extension.yaml
Due: .pipelines/aks-addon-nightly/e2e-aks-addon.yaml, .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Fix syntax error
  .pipelines/templates/aks-setup.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Add more missing tool installations
  .pipelines/templates/aks-setup.yaml
  .pipelines/templates/debug-resources.yaml
  .pipelines/templates/run-upstream-e2e.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Fix python dependency
  .pipelines/templates/enable-arc.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Use python3
  scripts/connect-to-arc.sh
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Remove the crypto package
  scripts/connect-to-arc.sh
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Add debug logs for failure
  scripts/add-extension.sh
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Remove unknown flag
  scripts/add-extension.sh
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Switch to oss/v2 path for OSM on MCR
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Install make
  .pipelines/templates/run-upstream-e2e.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Add make install at the correct place
  .pipelines/pr-job/e2e-aks-arc.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Deal with CGO experiment
  .pipelines/templates/run-upstream-e2e.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Fix e2e test process by setting correct env vars
  .pipelines/templates/run-upstream-e2e.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Bump chart version as well
  charts/osm-arc/Chart.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Path conditions:
  .pipelines/aks-addon-nightly/e2e-aks-addon.yaml: any of: .pipelines/aks-addon-nightly, .pipelines/templates/aks-addon-templates
  .pipelines/e2e-job.yaml: any file but: docs
  .pipelines/nightly-image-scan/image-scan.yaml: any of: tools/helm, conformance/plugins/osm-arc
  .pipelines/pr-job/e2e-job.yaml: any file but: docs, conformance, tools, .github, scripts/register-extension-prod.sh
  .pipelines/release-e2e-job.yaml: any of: charts/osm-arc/Chart.yaml
  .pipelines/upgrade-e2e-job.yaml: any of: charts/osm-arc/Chart.yaml
  .pipelines/upgrade-job/upgrade-e2e-job.yaml: any of: charts/osm-arc/Chart.yaml, scripts/add-extension.sh, scripts/update-extension.sh
