Repository Azure/osm-azure: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/aks-addon-nightly/e2e-aks-addon.yaml, .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Path conditions:
  .pipelines/aks-addon-nightly/e2e-aks-addon.yaml: any of: .pipelines/aks-addon-nightly, .pipelines/templates/aks-addon-templates
  .pipelines/e2e-job.yaml: any file but: docs
  .pipelines/nightly-image-scan/image-scan.yaml: any of: tools/helm, conformance/plugins/osm-arc
  .pipelines/pr-job/e2e-job.yaml: any file but: docs, conformance, tools, .github, scripts/register-extension-prod.sh
  .pipelines/release-e2e-job.yaml: any of: charts/osm-arc/Chart.yaml
  .pipelines/upgrade-e2e-job.yaml: any of: charts/osm-arc/Chart.yaml
  .pipelines/upgrade-job/upgrade-e2e-job.yaml: any of: charts/osm-arc/Chart.yaml, scripts/add-extension.sh, scripts/update-extension.sh

Adopt copilot fixes
  .pipelines/templates/get-latest-tag.yaml
  .pipelines/templates/publish-helm-chart.yaml
  .vscode/settings.json
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Undo unnecessary change
  .pipelines/templates/publish-helm-chart.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Install make
  .pipelines/upgrade-job/upgrade-templates.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Bump to OSM 1.2.11 (#207)
  .pipelines/pr-job/e2e-aks-arc.yaml
  .pipelines/templates/README.md
  .pipelines/templates/acr-cleanup.yaml
  .pipelines/templates/aks-addon-templates/enable-osm-aks-addon.yaml
  .pipelines/templates/aks-cleanup.yaml
  .pipelines/templates/aks-setup.yaml
  .pipelines/templates/debug-resources.yaml
  .pipelines/templates/enable-arc.yaml
  .pipelines/templates/get-latest-tag.yaml
  .pipelines/templates/install-bats.yaml
  .pipelines/templates/install-helm3.yaml
  .pipelines/templates/install-oras.yaml
  .pipelines/templates/publish-helm-chart.yaml
  .pipelines/templates/push-conf-image-acr.yaml
  .pipelines/templates/register-extension.yaml
  .pipelines/templates/run-upstream-e2e.yaml
  .pipelines/upgrade-job/upgrade-templates.yaml
  .vscode/settings.json
  Makefile
  charts/osm-arc/Chart.yaml
  charts/osm-arc/values.yaml
  scripts/add-extension.sh
  scripts/connect-to-arc.sh
Due: .pipelines/aks-addon-nightly/e2e-aks-addon.yaml, .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Publish osm-arc-1.2.11.tgz
  index.yaml
  osm-arc-1.2.11.tgz
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Bump to OSM 1.2.12
  charts/osm-arc/Chart.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Bump to OSM 1.2.12 (#208)
  charts/osm-arc/Chart.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Publish osm-arc-1.2.12.tgz
  index.yaml
  osm-arc-1.2.12.tgz
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Bump arc to 1.2.13
  charts/osm-arc/Chart.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Add codeowners
  CODEOWNERS
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Bump envoy version
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Bump 1.2.13 (#210)
  CODEOWNERS
  charts/osm-arc/Chart.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Publish osm-arc-1.2.13.tgz
  index.yaml
  osm-arc-1.2.13.tgz
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Bump to 1.2.14
  charts/osm-arc/Chart.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Add more verbose logging
  docs/release-guide.md
  scripts/add-extension.sh
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Bump to 1.2.14 (#211)
  charts/osm-arc/Chart.yaml
  charts/osm-arc/values.yaml
  docs/release-guide.md
  scripts/add-extension.sh
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml, .pipelines/upgrade-job/upgrade-e2e-job.yaml

Publish osm-arc-1.2.14.tgz
  index.yaml
  osm-arc-1.2.14.tgz
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Pin GitHub Actions to full-length commit SHAs
  .github/dependabot.yml
  .github/workflows/release-chart.yml
Due: .pipelines/e2e-job.yaml
