Repository Azure/osm-azure: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml

.pipelines/e2e-job.yaml:
  stages:
  - stage: run_e2e
    jobs:
    - template: e2e-aks-arc.yaml

.pipelines/nightly-image-scan/image-scan.yaml:
  schedules:
  - cron: 0 0 * * *
    always: true
    displayName: Nightly Image Vulnerability Scan
    branches:
      include:
      - main
  stages:
  - stage: scan_images
    jobs:
    - template: image-scan-job.yaml

.pipelines/pr-job/e2e-job.yaml:
  stages:
  - stage: run_e2e
    jobs:
    - template: e2e-aks-arc.yaml

.pipelines/release-e2e-job.yaml:
  stages:
  - stage: run_e2e
    jobs:
    - template: e2e-aks-arc.yaml
      parameters:
        releaseE2E: true

.pipelines/upgrade-e2e-job.yaml:
  stages:
  - stage: run_e2e
    jobs:
    - template: e2e-aks-arc.yaml
      parameters:
        releaseE2E: true

renames to follow osm convention
  charts/osm-arc/templates/metrics-agent-deployment.yaml
  charts/osm-arc/templates/metrics-config.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

add labels to clusterrole
  charts/osm-arc/templates/metrics-rbac.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

update rbac name
  charts/osm-arc/templates/metrics-rbac.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

osm/geneva: add metrics agent
  charts/osm-arc/templates/azure-extension-identity.yaml
  charts/osm-arc/templates/metrics-rbac.yaml
  charts/osm-arc/templates/osm-metrics-agent.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

add initial telegraf work
  charts/osm-arc/templates/osm-metrics-agent.yaml
  charts/osm-arc/templates/telegraf-configmap.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

update telegraf config
  charts/osm-arc/templates/osm-metrics-agent.yaml
  charts/osm-arc/templates/telegraf-configmap.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

change to roles and rb
  charts/osm-arc/templates/metrics-rbac.yaml
  charts/osm-arc/templates/osm-metrics-agent.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

add e2e test
  charts/osm-arc/values.yaml
  test/bats/test.bats
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

add env variables for prom mdm converter
  charts/osm-arc/templates/metrics-agent-deployment.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

change values key
  charts/osm-arc/templates/metrics-agent-deployment.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

add telegraf rbac
  charts/osm-arc/templates/metrics-rbac.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

template values
  charts/osm-arc/templates/_helpers.tpl
  charts/osm-arc/templates/metrics-rbac.yaml
  charts/osm-arc/templates/osm-metrics-agent.yaml
  charts/osm-arc/templates/telegraf-configmap.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

update converter envs and mdm image
  charts/osm-arc/templates/metrics-agent-deployment.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

change token ns
  charts/osm-arc/templates/metrics-agent-deployment.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

point telegraf to prom pod failures
  charts/osm-arc/templates/metrics-config.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

test restart metrics
  charts/osm-arc/templates/metrics-config.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Fix sec vuln osm-helm-cligzip liblzma5
  tools/helm/Dockerfile
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Fix sec vuln osm-helm-cligzip liblzma5 (#152)
  tools/helm/Dockerfile
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

add resource limits
  charts/osm-arc/templates/metrics-agent-deployment.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

add proxy settings
  charts/osm-arc/templates/arc-proxy.yaml
  charts/osm-arc/templates/metrics-agent-deployment.yaml
  charts/osm-arc/templates/metrics-config.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

update geneva acc
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Temporarily skip ingressbackend e2e
  .pipelines/templates/run-upstream-e2e.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Temporarily skip ingressbackend e2e (#154)
  .pipelines/templates/run-upstream-e2e.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

metrics: add metrics agent to send metrics via telegraf
  charts/osm-arc/templates/_helpers.tpl
  charts/osm-arc/templates/azure-extension-identity.yaml
  charts/osm-arc/templates/metrics-agent-deployment.yaml
  charts/osm-arc/templates/metrics-config.yaml
  charts/osm-arc/templates/metrics-rbac.yaml
  charts/osm-arc/values.yaml
  test/bats/test.bats
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

metrics: add metrics agent to send metrics via telegraf (#153)
  charts/osm-arc/templates/_helpers.tpl
  charts/osm-arc/templates/azure-extension-identity.yaml
  charts/osm-arc/templates/metrics-agent-deployment.yaml
  charts/osm-arc/templates/metrics-config.yaml
  charts/osm-arc/templates/metrics-rbac.yaml
  charts/osm-arc/values.yaml
  test/bats/test.bats
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Fix aks addon nightly install step
  .pipelines/aks-addon-nightly/e2e-aks-addon.yaml
  .pipelines/pr-job/e2e-job.yaml
  .pipelines/templates/aks-addon-templates/enable-osm-aks-addon.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Print EULA in osm-metrics-agents containers
  charts/osm-arc/templates/metrics-agent-deployment.yaml
  charts/osm-arc/values.yaml
  test/bats/test.bats
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Fix sec vuln dpkg osm-helm-cli
  tools/helm/Dockerfile
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Fix sec vuln dpkg osm-helm-cli (#157)
  tools/helm/Dockerfile
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Enhance debugging steps
  .pipelines/templates/debug-resources.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Enhance debugging steps (#158)
  .pipelines/templates/debug-resources.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Update version v1.1.1
  charts/osm-arc/Chart.yaml
  charts/osm-arc/templates/validate-single-mesh.yml
  charts/osm-arc/values.yaml
  test/bats/test.bats
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml

Update version v1.1.1 (#151)
  charts/osm-arc/Chart.yaml
  charts/osm-arc/templates/validate-single-mesh.yml
  charts/osm-arc/values.yaml
  test/bats/test.bats
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml

Publish osm-arc-1.1.1.tgz
  index.yaml
  osm-arc-1.1.1.tgz
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Update go version conf test image
  conformance/plugins/osm-arc/Dockerfile
  conformance/plugins/osm-arc/conformance.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Update go version conf test image (#159)
  conformance/plugins/osm-arc/Dockerfile
  conformance/plugins/osm-arc/conformance.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Fix go env conf test image
  conformance/plugins/osm-arc/conformance.yaml
  conformance/plugins/osm-arc/osm_arc_conformance.sh
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Fix go env conf test image (#160)
  conformance/plugins/osm-arc/conformance.yaml
  conformance/plugins/osm-arc/osm_arc_conformance.sh
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Fix aks addon debug steps
  .pipelines/aks-addon-nightly/e2e-aks-addon-jobs.yaml
  .pipelines/templates/debug-resources.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/pr-job/e2e-job.yaml

Conf plugin version and output dir
  conformance/plugins/osm-arc/Dockerfile
  conformance/plugins/osm-arc/conformance.yaml
  conformance/plugins/osm-arc/osm_arc_conformance.sh
Due: .pipelines/e2e-job.yaml, .pipelines/nightly-image-scan/image-scan.yaml

Path conditions:
  .pipelines/e2e-job.yaml: any file but: docs
  .pipelines/nightly-image-scan/image-scan.yaml: any of: tools/helm, conformance/plugins/osm-arc
  .pipelines/pr-job/e2e-job.yaml: any file but: docs, conformance, tools, .github, scripts/register-extension-prod.sh
  .pipelines/release-e2e-job.yaml: any of: charts/osm-arc/Chart.yaml
  .pipelines/upgrade-e2e-job.yaml: any of: charts/osm-arc/Chart.yaml
