Repository Azure/osm-azure: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml

.pipelines/e2e-job.yaml:
  stages:
  - stage: run_e2e
    jobs:
    - template: e2e-aks-arc.yaml

.pipelines/release-e2e-job.yaml:
  stages:
  - stage: run_e2e
    jobs:
    - template: e2e-aks-arc.yaml
      parameters:
        releaseE2E: true

.pipelines/upgrade-e2e-job.yaml:
  stages:
  - stage: run_e2e
    jobs:
    - template: e2e-aks-arc.yaml
      parameters:
        releaseE2E: true

Change trigger for upgrade-job
  .pipelines/upgrade-e2e-job.yaml
Due: .pipelines/e2e-job.yaml

Added newline and renamed to upgrade_CRDS
  .pipelines/templates/upgrade-CRDS.yaml
  .pipelines/upgrade-templates.yaml
Due: .pipelines/e2e-job.yaml

Add e2e for upgrade (#64)
  .pipelines/e2e-aks-arc.yaml
  .pipelines/templates/add-arc-extension.yaml
  .pipelines/templates/checkout-upstream-repo.yaml
  .pipelines/templates/get-latest-tag.yaml
  .pipelines/templates/install-k8s-extension.yaml
  .pipelines/templates/publish-helm-chart.yaml
  .pipelines/templates/run-upstream-e2e.yaml
  .pipelines/templates/update-arc-addon.yaml
  .pipelines/templates/upgrade-CRDS.yaml
  .pipelines/upgrade-e2e-job.yaml
  .pipelines/upgrade-templates.yaml
  scripts/add-extension.sh
  scripts/update-extension.sh
  test/bats/helpers.bash
  test/bats/test.bats
Due: .pipelines/e2e-job.yaml

chore(charts): default disable fluent bit
  .github/PULL_REQUEST_TEMPLATE/release_pull_request_template.md
  charts/osm-arc/values.yaml
  docs/logs.md
  test/bats/test.bats
Due: .pipelines/e2e-job.yaml

chore(charts): default disable fluent bit (#81)
  .github/PULL_REQUEST_TEMPLATE/release_pull_request_template.md
  charts/osm-arc/values.yaml
  docs/logs.md
  test/bats/test.bats
Due: .pipelines/e2e-job.yaml

chore(gitignore): add chart.lock to gitignore
  .gitignore
Due: .pipelines/e2e-job.yaml

chore(gitignore): add chart.lock to gitignore (#82)
  .gitignore
Due: .pipelines/e2e-job.yaml

Renamed variables to more intuitive and descriptive names
  .pipelines/e2e-aks-arc.yaml
  .pipelines/templates/acr-cleanup.yaml
  .pipelines/templates/add-arc-extension.yaml
  .pipelines/templates/checkout-upstream-repo.yaml
  .pipelines/templates/get-latest-tag.yaml
  .pipelines/templates/publish-helm-chart.yaml
  .pipelines/templates/run-upstream-e2e.yaml
  .pipelines/templates/update-arc-addon.yaml
  .pipelines/templates/upgrade-CRDS.yaml
  .pipelines/upgrade-templates.yaml
Due: .pipelines/e2e-job.yaml

Fix var for checkout upstream repo
  .pipelines/templates/checkout-upstream-repo.yaml
Due: .pipelines/e2e-job.yaml

Renamed variables to more intuitive and descriptive names (#83)
  .pipelines/e2e-aks-arc.yaml
  .pipelines/templates/acr-cleanup.yaml
  .pipelines/templates/add-arc-extension.yaml
  .pipelines/templates/checkout-upstream-repo.yaml
  .pipelines/templates/get-latest-tag.yaml
  .pipelines/templates/publish-helm-chart.yaml
  .pipelines/templates/run-upstream-e2e.yaml
  .pipelines/templates/update-arc-addon.yaml
  .pipelines/templates/upgrade-CRDS.yaml
  .pipelines/upgrade-templates.yaml
Due: .pipelines/e2e-job.yaml

updated permissions
  scripts/install-connectedk8s.sh
  scripts/install-k8s-extension.sh
Due: .pipelines/e2e-job.yaml

Changed k8s-extension URL
  scripts/install-k8s-extension.sh
Due: .pipelines/e2e-job.yaml

Added k8s-extension steps and decoupled installation
  .pipelines/templates/add-arc-extension.yaml
  .pipelines/templates/enable-arc.yaml
  .pipelines/templates/install-k8s-extension.yaml
  scripts/add-extension.sh
  scripts/connect-to-arc.sh
  scripts/install-connectedk8s.sh
  scripts/install-k8s-extension.sh
Due: .pipelines/e2e-job.yaml

Added k8s-extension steps and decoupled installation (#84)
  .pipelines/templates/add-arc-extension.yaml
  .pipelines/templates/enable-arc.yaml
  .pipelines/templates/install-k8s-extension.yaml
  scripts/add-extension.sh
  scripts/connect-to-arc.sh
  scripts/install-connectedk8s.sh
  scripts/install-k8s-extension.sh
Due: .pipelines/e2e-job.yaml

update to v0.8.3-rc.1
  charts/osm-arc/Chart.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml

update to v0.8.3-rc.1 (#87)
  charts/osm-arc/Chart.yaml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml

feat(chart): add pod label
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml

edited update extension script
  scripts/update-extension.sh
Due: .pipelines/e2e-job.yaml

edited update extension script (#85)
  scripts/update-extension.sh
Due: .pipelines/e2e-job.yaml

Change trigger for upgrade job
  .pipelines/upgrade-e2e-job.yaml
Due: .pipelines/e2e-job.yaml

Change trigger for upgrade job (#86)
  .pipelines/upgrade-e2e-job.yaml
Due: .pipelines/e2e-job.yaml

Started distro check
  charts/osm-arc/templates/check-distro.yml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml

Added description and modified exit condition
  charts/osm-arc/templates/check-distro.yml
Due: .pipelines/e2e-job.yaml

Edited hooks
  charts/osm-arc/templates/check-distro.yml
Due: .pipelines/e2e-job.yaml

Added check for distro
  charts/osm-arc/templates/check-distro.yml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml

docs: refactor the documentation
  Makefile
  docs/get-started.md
Due: .pipelines/e2e-job.yaml

Remove --subscription
  docs/get-started.md
Due: none

Update docs/get-started.md
  docs/get-started.md
Due: none

Remove unneeded registration
  docs/get-started.md
Due: none

Update link to document
  docs/get-started.md
Due: none

Link to the latest WHL file
  docs/get-started.md
Due: none

Update links to wheel files
  docs/get-started.md
Due: none

Adding comments to YAML files for documentation
  charts/osm-arc/templates/osm-label.yml
  charts/osm-arc/values.yaml
Due: .pipelines/e2e-job.yaml

Update version to v0.8.3
  charts/osm-arc/Chart.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml

Remove Microsoft.Kubernetes preview access
  docs/get-started.md
Due: none

Update version to v0.8.3 (#92)
  charts/osm-arc/Chart.yaml
Due: .pipelines/e2e-job.yaml, .pipelines/release-e2e-job.yaml, .pipelines/upgrade-e2e-job.yaml

Removing the adding features section
  docs/get-started.md
Due: none

Remove enable-arc-feature script
  scripts/enable-arc-feature.sh
Due: .pipelines/e2e-job.yaml

Remove enable-arc-feature script (#95)
  scripts/enable-arc-feature.sh
Due: .pipelines/e2e-job.yaml

Path conditions:
  .pipelines/e2e-job.yaml: any file but: docs
  .pipelines/release-e2e-job.yaml: any of: charts/osm-arc/Chart.yaml
  .pipelines/upgrade-e2e-job.yaml: any of: charts/osm-arc/Chart.yaml
